.bc-bus {
    background-image: url("https://image.flaticon.com/icons/svg/0/308.svg") !important;
    height: 16px;
    width: 16px;
    background-position: 0px 0px;
}

.iconButton {
    background: transparent !important;
    border: none !important;
    height: 16px;
    width: 16px;
    margin: 0;
}